    <aside class="sidebar">
        <div class="sidebar-header">
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li *ngFor="let item of menuItems" [class.active]="item.active">
                    <a [routerLink]="item.link" routerLinkActive="active">
                        <i [class]="item.icon"></i>
                        <span>{{ item.text }}</span>
                       
                    </a>
                </li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <a href="#">Log Out</a>
        </div>
    </aside>