<body>
    <div class="dashboard">
     <app-sidebar></app-sidebar>
  
      <main class="main-content">
        <header>
          <h1>Users</h1>
          <input type="text" placeholder="Search" />
        </header>
  
        <section class="user-section">
          <h2>Manage Users</h2>
          <div class="table">
            <table>
              <thead>
                <tr><th>Name</th><th>Role</th><th>Actions</th></tr>
              </thead>
              <tbody>
                <tr><td>Josh Smith</td><td>admin</td><td><button>Edit</button> <button>Del</button></td></tr>
                <tr><td>Loyce Kalume</td><td>jobseeker</td><td><button>Edit</button> <button>Del</button></td></tr>
                <tr><td>Carol Mwangi</td><td>employer</td><td><button>Edit</button> <button>Del</button></td></tr>
              </tbody>
            </table>
          </div>
        </section>
      </main>
    </div>
  </body>