<body>
    <div class="dashboard-container">
       <app-sidebar></app-sidebar>
        <main class="main-content">
            <div class="applications-header">
                <div class="applications-title">
                    <h1>Job Applications</h1>
                    <p>Manage and review job applications</p>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>Search</button>
                </div>
            </div>

            <div class="applications-table-container">
                <table class="applications-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Years of experience</th>
                            <th>Status</th>
                            <th>Date applied</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Loyce Kalume</td>
                            <td>Software Dev</td>
                            <td>5 years</td>
                            <td class="status-in-review">in-review</td>
                            <td>25, Apr</td>
                        </tr>
                        <tr>
                            <td>Grace Kalume</td>
                            <td>Graphic Designer</td>
                            <td>5 years</td>
                            <td class="status-interview">interview</td>
                            <td>25, March</td>
                        </tr>
                        <tr>
                            <td>Anthony Tial</td>
                            <td>Quality Assuarance</td>
                            <td>2 years</td>
                            <td class="status-new">new</td>
                            <td>25, Apr</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </main>
    </div>
</body>