<div class="container">
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <div class="headers">
        <h2>Job Applications</h2>
        <button class="search-btn">Search</button>
      </div>
  
      <p class="description">Manage and review job applications</p>
  
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Years of experience</th>
              <th>Status</th>
              <th>Date applied</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Loyce Kalume</td>
              <td>Software Dev</td>
              <td>5 years</td>
              <td class="status in-review">in-review</td>
              <td>25, Apr</td>
              <td>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Grace Kalume</td>
              <td>Graphic Designer</td>
              <td>5 years</td>
              <td class="status interview">interview</td>
              <td>25, March</td>
              <td>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Anthony Tial</td>
              <td>Quality Assurance</td>
              <td>2 years</td>
              <td class="status new">new</td>
              <td>25, Apr</td>
              <td>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  